.search-bar {
  width: 100%;
  justify-content: center!important;
}

.h1 {
  text-transform: capitalize;
  font-size: 25px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.3);
}
.header {
  color:green
}
